$yesterday: #877F73;
$today: #30C2A7;
$tomorrow: #62968D;
$later: #ABCCB8;
$muchlater: #D4CFB6;


$pageBackground: $yesterday;
$textColor: rgba(0,0,0,0.2);
$font: 'Fira Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
